nav {
  
  display: flex;
  padding: 1.5em;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: #675783;
  color: #FFFF;
  font-family: 'Source Sans Pro', sans-serif;
  position: sticky;
  top: 0;
  z-index: 100;

  span{
    font-family: 'Bungee', cursive;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
    list-style: none;
    }

    i:hover {
    color: rgb(209, 127, 20);
    }
  }
}



 


