header {
  background-color: rgb(182, 185, 194);
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  
}