nav {
  display: flex;
  padding: 1.5em;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: #675783;
  color: #FFFF;
  font-family: "Source Sans Pro", sans-serif;
  position: sticky;
  top: 0;
  z-index: 100;
}
nav span {
  font-family: "Bungee", cursive;
}
nav .nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .nav-links li {
  list-style: none;
}
nav .nav-links i:hover {
  color: salmon;
}
